* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 160px);
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#taskList {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

.remove-button {
    border: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #dc3545;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #c82333;
}
.checked {
    text-decoration: line-through;
    color: gray;
}
#addTaskButton{
    margin-right: 40px;
}