*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: url(goa\ copy.jpg) no-repeat;
    background-size: cover;
}
label{
    color: white;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px 2px green;
    width: 500px;
    position: absolute;
    top: 90px;
    height: 190px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    color: salmon;
    cursor: pointer;
}
button{
    background-color: green;
    color: orangered;
    width: 100px;
}
input{
    color: green;
}
a{
    color: white;
}
a:hover{
    color: green;
}