*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: url(goa\ copy.jpg) no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 2px 2px 2px 2px green;
}
ul, li, a{
    display: inline-block;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}
a{
    color: orangered;
}
a:hover{
    color: green;
}
.block{
    height: 100vh;
}
.portofilio{
    box-shadow: 2px 2px 2px 2px rgb(18, 233, 18);
    width: 700px;
    text-align: center;
    height: 115px;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
a, i{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    margin-right: 5px;
}
.block2{
    height: 5vh;
}